* {
  font-family: "Comic Sans MS";
}

h1 {
  background: linear-gradient(red, orange, yellow, green, blue, purple);
}

.calc-back {
  background-color: aquamarine;
  display: flex;
  margin: auto;
  flex-direction: column;
  border-radius: 15px;

  width: 70vh;
  height: 80vh;
}

#calc-screen {
  margin: 10px 10px;
  background-color: gray;
  width: auto;
  height: 100px;
}

.buttons {
  display: flex;
  gap: 10px;
  height: 100px;
}

.buttons > * {
  width: 30px;
  height: auto;
  background-color: brown;
}
